[submodule "cucumber-mode"]
	path = cucumber-mode
	url = http://github.com/michaelklishin/cucumber.el.git
[submodule "rhtml-mode"]
	path = rhtml-mode
	url = http://github.com/eschulte/rhtml.git
[submodule "auto-complete"]
	path = auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
